<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boek toevoegen</title>
    <link rel="stylesheet"  href="style.css">
</head>
<body>
    <h1>Boek toevoegen</h1>
    <form action="/book/add" method="post">
        <label for="title">Titel</label>
        <input type="text" name="title" id="title">
        <label for="author">Auteur</label>
        <input type="text" name="author" id="author">
        <label type="text" for="publisher">Uitgever</label>
        <input type="text" name="publisher" id="publisher">
        <input type="submit" value="Toevoegen">
    </form>
</body>
</html>