<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boeken</title>
    <link rel="stylesheet" href="/public/assets/style.css">
</head>
<body>
    <h1>Boeken</h1>
    <a href="/"><h2>Home</h2></a>
    <table>
        <thead>
            <tr>
                <th>Titel</th>
                <th>Auteur</th>
                <th>Uitgever</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td><a href="/author/view/{{ book.author.id }}">{{ book.author.fullName }}</a></td>
                <td>{{ book.publisher.fullName }}</td>
                <td><a href="/book/view/{{ book.id }}">details</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    <a href="/book/add"><button>Nieuw boek</button></a>
                </td>
            </tr>
        </tbody>
    </table>

</body>